body{
			background-color: #FF8C00;
			display: flex;
			justify-content: center;
			flex-direction: column;
			min-height:100vh;
			align-items: center;
		}
		form{
			background-color: white;
			max-width: 500px;
			width: 80%;
			display:flex;
			flex-direction: column;
			align-items: center;
			padding: 10px;
			border-radius:10px;
			box-shadow: 1px 1px 3px  white;
		}
		form h3{
			text-align: center;
			color:#FF8C00;
			font-size: 30px;
			margin: 0%;
			margin-bottom: 10px;
			padding: 10px;
			width:80%;
			border-bottom: 1px solid gainsboro;
			text-shadow:1px 1px 1px black;
		}
		
		form button{
			padding:10px;
			margin: 10px;
			width: 80%;
			border: none;
			color:white;
			background-color: #643200;
			cursor:pointer;
			margin-top:15px;
		}