
@font-face{
    font-family: padrao;
    src:url(fonts/friz-quadrata-std.otf)
}

body,html{
    margin: 0;
    top:0px;
    display:inline-block;
    font-family: padrao;
    height:100%;
    background-color: rgb(255,115,20);
}

div{
   font-family: padrao; 
}
.avatar{
    font-size: 25px;
    color:gray;
    background-color: gainsboro;
    border-radius: 90px;
    padding: 15px 12px;
    margin:10px ;
}